<div class="container">
  <video #localvid autoplay muted></video>
  <video #remotevid autoplay muted id="remoteid"></video>
  <h1 *ngIf="issendChannelConnectionOpen">Hello</h1>
  <div class="form-group">
    <label placeholder="Press Start, enter some text, then press Send.">
      Sending
    </label>
    <textarea class="form-control" #sendingTextt rows="1"></textarea>
  </div>
  <div class="form-group">
    <label> Receiving </label>
    <textarea class="form-control" #receivingTextt rows="1"></textarea>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" (click)="createConnection()">Start</button>
    <button type="button" class="btn btn-secondary" (click)="sendData()">Send as Sender</button>
    <button type="button" class="btn btn-secondary" (click)="SendReceiveData()">Send as Receiver</button>
    <button type="button" class="btn btn-danger" (click)="closeDataChannels()">Stop</button>
  </div>
</div>