<input type="text" class="form-control" [(ngModel)]="ToUser">
<h2>{{ToUser}}</h2>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h4 class="card-title"><strong>{{user}}</strong></h4> <a *ngIf="isLoading" class="btn btn-xs btn-secondary" href="#" data-abc="true">Loading . . .</a>
                    </div>
                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                        <div *ngFor="let msg of messages">  
                            <div *ngIf="msg.type == 'received'" class="media media-chat"> <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                                <div class="media-body">
                                    <p>{{msg.message}}</p>
                                    <p class="meta"><time>{{msg.date | date: 'hh:mm aa' }}</time></p>
                                </div>
                            </div>
                            <div *ngIf="msg.type == 'sent'" class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>{{msg.message}}</p>
                                    <p class="meta"><time>{{msg.date | date: 'hh:mm aa'}}</time></p>
                                </div>
                            </div>
                        </div>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                    </div>
                    <div class="publisher bt-1 border-light"> 
                        <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> 
                        <input class="publisher-input" type="text" [(ngModel)]="txtMessage" placeholder="Write something">
                            <button class="publisher-btn text-info" type="button" (click)="sendMessage()" data-abc="true"><i class="fa fa-paper-plane"></i></button>
                            <button class="publisher-btn text-info" type="button" (click)="getmore()" data-abc="true">Load...</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>