<div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div *ngIf="isError" class="shadow-sm alert alert-warning" style="border-left: 5px solid #efa31d;">
          <i class="fas fa-exclamation-circle mr-2"></i><strong>Your request has been cancelled.</strong>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
          <input type="text" class="form-control" required [(ngModel)]="query" placeholder="Search here. . ." aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" (click)="getItems()" type="button"><i class="fas fa-search"></i></button>
          </div>
          <div class="input-group-append">
            <button class="btn btn-primary" (click)="reset()"  type="button"><i class="fas fa-sync-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Items -->
    <ng-template [ngIf]="isLoading">
        <h3>Loading . . .</h3>
    </ng-template>
      <div class="albums mb-3" *ngIf="!isLoading">
          <div class="album" *ngFor="let u of items">
              <img class="album__artwork" src="/assets/user.png">
            <div class="album__details">
              <h2>{{u.firstName}}</h2>
              <p class="album__artist">{{u.phoneNumber}}</p>
              <p class="album__desc">{{u.language}}</p>
              <p class="album__desc">{{u.userName}}</p>
              <!-- <p data-toggle="modal" data-target="#modal_aside_left" style="cursor: pointer;"><i class="fas fa-comment"></i></p> -->
              <!-- <p data-toggle="modal" (click)="onPopup()" style="cursor: pointer;"><i class="fas fa-comment"></i></p> -->
            </div>
          </div>    
        </div>
        <!-- Items -->
        <!-- Pagination -->
        <nav aria-label="Page navigation example" 
        *ngIf="(pager.totalPages > 1) && !isLoading"
        style="cursor: pointer;">
          <ul class="pagination">
            <li class="page-item" *ngIf="(pager.currentPage > 1) && (pager.totalPages > 1)"><a class="page-link" (click)="getItems(pager.currentPage - 1)">Previous</a></li>
            <li class="page-item {{ pager.currentPage ==  p ? 'active' : ''}}" *ngFor="let p of myNumbers"><a class="page-link" (click)="getItems(p)">{{p}}</a></li>
            <li class="page-item" *ngIf="pager.currentPage < pager.totalPages"><a class="page-link" (click)="getItems(pager.currentPage + 1)">Next</a></li>
          </ul>
        </nav>
        <!-- Pagination -->
              <!-- Left Modal -->
<div id="modal_aside_left" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hideModal()" id="closemodal">Close</button>
        </div>
      </div>
    </div> <!-- modal-bialog .// -->
  </div> <!-- modal.// -->
  <!-- Left Modal -->
  </div>