<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2 py-4">Reset your password</h1>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form [formGroup]="userForm" (ngSubmit)="onResetSubmitForm()">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input class="form-control form-control-lg" 
                                    [ngClass]="{ 
                                        'is-valid': getOldPassword?.valid && (getOldPassword?.touched) || (getOldPassword?.valid && submitted),
                                        'is-invalid' : getOldPassword?.invalid && (getOldPassword?.touched) || (getOldPassword?.invalid && submitted) }"
                                    formControlName="oldPassword" type="password" placeholder="Enter old password">
                                    <div class="invalid-feedback" *ngIf="getOldPassword?.errors?.required && (getOldPassword?.touched) || (getOldPassword?.errors?.required && submitted)">Old password is required</div>
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input 
                                    [ngClass]="{ 
                                        'is-valid': getNewPassword?.valid && (getNewPassword?.touched) || (getNewPassword?.valid && submitted),
                                        'is-invalid' : getNewPassword?.invalid && (getNewPassword?.touched) || (getNewPassword?.invalid && submitted) }"
                                    class="form-control form-control-lg" formControlName="newPassword" type="password" placeholder="Enter new password">
                                    <div class="invalid-feedback" *ngIf="getNewPassword?.errors?.required && (getNewPassword?.touched) || (getNewPassword?.errors?.required && submitted)">New password is required</div>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input 
                                    [ngClass]="{ 
                                        'is-valid': getconfirmPassword?.valid && (getconfirmPassword?.touched) || (getconfirmPassword?.valid && submitted),
                                        'is-invalid' : getconfirmPassword?.invalid && (getconfirmPassword?.touched) || (getconfirmPassword?.invalid && submitted) }"
                                    class="form-control form-control-lg" formControlName="confirmPassword" type="password" placeholder="Enter confirm">
                                    <div class="invalid-feedback" *ngIf="getconfirmPassword?.errors?.required && (getconfirmPassword?.touched) || (getconfirmPassword?.errors?.required && submitted)">Confirm password is required</div>
                                    <div class="invalid-feedback" *ngIf="getconfirmPassword?.errors?.mismatch && (getconfirmPassword?.touched) || (getconfirmPassword?.errors?.mismatch && submitted)">Password does not match the confirm password</div>
                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" 
                                    [disabled]="userForm.invalid || isLoading"
                                    class="btn btn-lg btn-primary">
                                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" style="width: 1.7rem; height: 1.7rem;" role="status" aria-hidden="true"></span>
                                    <span *ngIf="!isLoading">Reset password</span>
                                </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>