<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmitForm()" class="mt-2">
  <!-- <app-success [isDanger]="isError" [SetMessage]="errorMessage"></app-success> -->
  <div class="form-group mt-2" *ngIf="dropdownList">
    <label>Select languages:</label>
    <ng-multiselect-dropdown 
    [ngModelOptions]="{standalone: true}" 
    [placeholder]="'Please select language'"
    [settings]="dropdownSettings" 
    [data]="dropdownList"
    [(ngModel)]="selectedItems">
    </ng-multiselect-dropdown>
  </div>
  <div class="form-group mt-2">
    <label>First Name:</label>
    <input class="form-control" formControlName="firstName" [ngClass]="
        { 'is-valid':getFirstName?.valid && (getFirstName?.touched) || (getFirstName?.valid && submitted),
        'is-invalid' : getFirstName?.invalid && (getFirstName?.touched) || (getFirstName?.invalid && submitted) }"
      type="text">
      <div class="invalid-feedback" *ngIf="getFirstName?.errors?.required && (getFirstName?.touched) || (getFirstName?.errors?.required && submitted)">First Name is required</div>
      <div class="invalid-feedback" *ngIf="getFirstName?.errors?.minlength && (getFirstName?.touched) || (getFirstName?.errors?.minlength && submitted)">Min length 3</div>
  </div>
  <div class="form-group mt-2">
    <label class="small mb-1" for="inputLastName">Last Name</label>
    <input class="form-control py-4"
    formControlName="lastName"
    [ngClass]="{ 
        'is-valid':getLastName?.valid && (getLastName?.touched) || (getLastName?.valid && submitted),
        'is-invalid' : getLastName?.invalid && (getLastName?.touched) || (getLastName?.invalid && submitted) }"
    id="inputLastName" type="text" placeholder="Enter last name" />
    <div class="invalid-feedback" *ngIf="getLastName?.errors?.required && (getLastName?.touched) || (getLastName?.errors?.required && submitted)">Last Name is required</div>
    <div class="invalid-feedback" *ngIf="getLastName?.errors?.minlength && (getLastName?.touched) || (getLastName?.errors?.minlength && submitted)">Min length 3</div>
</div>
<div class="form-group mt-2">
    <label class="small mb-1" for="inputEmailAddress">Username</label>
    <input class="form-control py-4" 
    formControlName="username"
    [ngClass]="{ 
        'is-valid':getUsername?.valid && (getUsername?.touched) || (getUsername?.valid && submitted),
        'is-invalid' : getUsername?.invalid && (getUsername?.touched) || (getUsername?.invalid && submitted) }"
    id="inputEmailAddress" type="text" aria-describedby="emailHelp" placeholder="Enter username" />
    <div class="invalid-feedback" *ngIf="getUsername?.errors?.required && (getUsername?.touched) || (getUsername?.errors?.required && submitted)">Username is required</div>
    <div class="invalid-feedback" *ngIf="getUsername?.errors?.minlength && (getUsername?.touched) || (getUsername?.errors?.minlength && submitted)">Min length 3</div>
</div>
<div class="form-group mt-2">
    <label class="small mb-1" for="inputEmailAddress">Phone Number</label>
    <input class="form-control py-4"
    formControlName="phoneNumber"
    [ngClass]="{ 
        'is-valid':getPhoneNumber?.valid && (getPhoneNumber?.touched) || (getPhoneNumber?.valid && submitted),
        'is-invalid' : getPhoneNumber?.invalid && (getPhoneNumber?.touched) || (getPhoneNumber?.invalid && submitted) }"
    id="inputEmailAddress" type="text" aria-describedby="emailHelp" placeholder="Enter phone number" />
    <div class="invalid-feedback" *ngIf="getPhoneNumber?.errors?.required && (getPhoneNumber?.touched) || (getPhoneNumber?.errors?.required && submitted)">Phone Number is required</div>
</div>
<div class="form-group mt-2">
    <label class="small mb-1" for="inputPassword">Password</label>
    <input class="form-control py-4" 
    formControlName="password"
    [ngClass]="{ 
        'is-valid':getPassword?.valid && (getPassword?.touched) || (getPassword?.valid && submitted),
        'is-invalid' : getPassword?.invalid && (getPassword?.touched) || (getPassword?.invalid && submitted) }"
    id="inputPassword" type="password" placeholder="Enter password" />
    <div class="invalid-feedback" *ngIf="getPassword?.errors?.required && (getPassword?.touched) || (getPassword?.errors?.required && submitted)">Password is required</div>
</div>
<div class="form-group mt-2">
    <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
    <input class="form-control py-4" 
    formControlName="confirmPassword"
    [ngClass]="{ 
        'is-valid':getConfirmPassword?.valid && (getConfirmPassword?.touched) || (getPassword?.valid && submitted),
        'is-invalid' : getConfirmPassword?.invalid && (getConfirmPassword?.touched) || (getPassword?.invalid && submitted) }"
    id="inputConfirmPassword" type="password" placeholder="Confirm password" />
    <div class="invalid-feedback" *ngIf="getConfirmPassword?.errors?.required && (getConfirmPassword?.touched) || (getConfirmPassword?.errors?.required && submitted)">Confirm Password is required</div>
    <div class="invalid-feedback" *ngIf="getConfirmPassword?.errors?.mismatch && (getConfirmPassword?.touched) || (getConfirmPassword?.errors?.mismatch && submitted)">Password does not match the confirm password</div>
</div>
  <button type="button" class="btn btn-secondary mr-2" (click)="hideRegModal()" id="closemodal">Close</button>
  <button type="submit" [disabled]="registerForm.invalid || isLoading" class="btn btn-primary">
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span *ngIf="!isLoading">Save Changes</span>
  </button>
</form>
