<div class="jumbotron">
  <div class="list-group">
    <div class="badge badge-info badge-pill py-3" *ngIf="seconds !== 0">
        <span id="hours" *ngIf="hours !== 0"> {{hours | number:'2.0' }} : </span>
        <span id="minutes" *ngIf="seconds !== 0"> {{minutes | number:'2.0' }} : </span>
        <span id="seconds" *ngIf="seconds !== 0"> {{seconds | number:'2.0' }}</span>
      </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <div class="input-group">
        <input type="hidden" class="form-control" placeholder="Room Name" aria-label="Room Name" [(ngModel)]="roomName"
          (keydown.enter)="onTryAddRoom()">
        <div class="input-group-append">
          <button class="btn btn-success twitter-red" type="button" [disabled]="!roomName"
            (click)="onAddRoom(roomName)">
            Call <i class="fas fa-phone"></i>
          </button>
          <button class="btn btn-danger twitter-red" type="button" (click)="onLeaveRoom()">
            Leave <i class="fas fa-phone-slash"></i>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!rooms || !rooms.length" class="list-group-item d-flex justify-content-between align-items-center">
      <p>
        Press call button and wait for participant to join or wait for participant calling request.
      </p>
    </div>
    <a *ngFor="let room of rooms; let i = index" (click)="onJoinRoom(room.name)"
      [ngClass]="{ 'active': activeRoomName === room.name }"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <!-- {{ room.name }} -->
      <span class="badge badge-success badge-pill">
        <!-- {{ room.participantCount }} / {{ room.maxParticipants }} -->
        Click to join {{i+1}}
      </span>
    </a>
  </div>
</div>
